##
# VHDL: ISE 
############

*_xdb/
work/
_xmsgs/
xst/

*.xst
*.xrpt
*.stx
*.xbcd
*.xmsgs
*.prj
*.syr
*.lso
*.cmd_log
*.didat
*.sim/
*.nlf
*.sdf
*.ini
*.xreport
*.gise
*.xise
*.projectmgr
*.xml
*.wdb
*.cmd
*.vdb
*.html
*.bld
*.twr
*.pcf
*.ptwx
*.ng*
*.unroutes
*.xpi
*.map
*.mrp
*.nc*
*.lst
*.cg*
*.rs*
*.sym
*.v
*.xc*
*.ve*
*.pa*
*.tw*
fifo*
*lock*

# Vsim
*.fdo
*.udo
*.wlf
wlft*

##
# Packages 
###########

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.tgz
